<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.chandler.alfredocr</string>
	<key>connections</key>
	<dict>
		<key>0B59C0D3-DF1F-4754-A97E-A1E2CAB72CB5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B2D69546-2C9C-4008-B87B-5083669593BD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0F90638C-4896-43D7-9BFD-2982F2097A24</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3E39E065-922D-4787-B26A-41A5EB824FA4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>27B35F0F-6BC8-4872-8B76-8F41F27F4AA2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4DFCC09B-FBC1-4F23-8808-0FBDE93E2AA6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2C46081D-3A97-4D9C-A54F-351305FBBBFB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4DFCC09B-FBC1-4F23-8808-0FBDE93E2AA6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>344D59F2-4076-42B7-95C5-778932DB1F57</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4DFCC09B-FBC1-4F23-8808-0FBDE93E2AA6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>374CCF7D-7B46-4930-B819-1846BF68071A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4DFCC09B-FBC1-4F23-8808-0FBDE93E2AA6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>37CD29EF-3551-4F34-994E-8F16D3A33B02</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8887CE7F-16CD-4C97-99DE-FADE5F0076C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3E39E065-922D-4787-B26A-41A5EB824FA4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4DFCC09B-FBC1-4F23-8808-0FBDE93E2AA6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4611F9BA-7494-454B-A5DE-163077ACF613</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4DFCC09B-FBC1-4F23-8808-0FBDE93E2AA6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>471C9E19-BF37-44DF-B32A-3A52245976A8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BE26A0BE-8762-41AA-9A99-193D7D8B9812</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4DFCC09B-FBC1-4F23-8808-0FBDE93E2AA6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B59C0D3-DF1F-4754-A97E-A1E2CAB72CB5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5655678A-0732-4F92-99FE-43D4990C750D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B46E7AA6-7CBE-4B8B-8ECF-E2314ED44B3D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5B48C447-C230-4E13-BFBD-344F824B517D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>37CD29EF-3551-4F34-994E-8F16D3A33B02</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>606C9E94-2A7A-4C37-A4A1-C1AEBE8EF5A8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7366E3CA-2DDD-4D87-9CC3-D2A9210D5477</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>65F994AE-2882-470C-81EC-1A59B982E6C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>83C54359-7C2C-407C-81B8-CF18E8E46BA2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7366E3CA-2DDD-4D87-9CC3-D2A9210D5477</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4DFCC09B-FBC1-4F23-8808-0FBDE93E2AA6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>83C54359-7C2C-407C-81B8-CF18E8E46BA2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B2D69546-2C9C-4008-B87B-5083669593BD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8887CE7F-16CD-4C97-99DE-FADE5F0076C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E931D236-7632-40AF-8856-EEBA153F6E16</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>937CC1C4-0760-46B5-9E0C-D18947EAADC1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AB33C120-235B-4188-8CD4-B5662FDEE242</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>996E9637-6EAA-44D9-8195-D4C3FC39F76E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4611F9BA-7494-454B-A5DE-163077ACF613</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9D945DC9-84D7-4664-B35F-3139E4452494</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>27B35F0F-6BC8-4872-8B76-8F41F27F4AA2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AB33C120-235B-4188-8CD4-B5662FDEE242</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4DFCC09B-FBC1-4F23-8808-0FBDE93E2AA6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AC0AD26B-C27F-4E05-802D-B2DEA72EEB1E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>344D59F2-4076-42B7-95C5-778932DB1F57</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Second Language</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>374CCF7D-7B46-4930-B819-1846BF68071A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B2D69546-2C9C-4008-B87B-5083669593BD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>47CB8905-BA80-42D9-A0AA-4D32152F0754</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B2D701D8-B66C-4B5A-8F56-1696DFC9A92D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E246104C-AC6C-47DC-A874-615A8F5FC162</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B46E7AA6-7CBE-4B8B-8ECF-E2314ED44B3D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CB6DFA53-6EBA-4514-B3DF-9D29D00AB83C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BE26A0BE-8762-41AA-9A99-193D7D8B9812</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F2B13BC-C041-4D37-8215-1B8DE8B6F572</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CB6DFA53-6EBA-4514-B3DF-9D29D00AB83C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B59C0D3-DF1F-4754-A97E-A1E2CAB72CB5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D24C4DCE-C143-4446-B55C-1213A2471105</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C46081D-3A97-4D9C-A54F-351305FBBBFB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E246104C-AC6C-47DC-A874-615A8F5FC162</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4DFCC09B-FBC1-4F23-8808-0FBDE93E2AA6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E931D236-7632-40AF-8856-EEBA153F6E16</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B59C0D3-DF1F-4754-A97E-A1E2CAB72CB5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chandler Lu</string>
	<key>description</key>
	<string>OCR &amp; Translate using multiple interfaces for Alfred Workflow.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Capture then OCR</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>screencapture -sx /private/tmp/ocr_screenshot.png</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>65F994AE-2882-470C-81EC-1A59B982E6C3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>if [ -f "/private/tmp/ocr_screenshot.png" ]; then
  $PYTHON_PATH ./ocr.py $ocr_select /private/tmp/ocr_screenshot.png
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>83C54359-7C2C-407C-81B8-CF18E8E46BA2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ooc</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Recognise from Clipboard with CNOCR</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9D945DC9-84D7-4664-B35F-3139E4452494</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>ocr_select</key>
					<string>0</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>27B35F0F-6BC8-4872-8B76-8F41F27F4AA2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>5655678A-0732-4F92-99FE-43D4990C750D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>screencapture -sx /private/tmp/ocr_screenshot.png</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CB6DFA53-6EBA-4514-B3DF-9D29D00AB83C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>47CB8905-BA80-42D9-A0AA-4D32152F0754</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Capture then OCR</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B2D69546-2C9C-4008-B87B-5083669593BD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>$PYTHON_PATH ./ocr.py $ocr_select /private/tmp/ocr_screenshot.png</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0B59C0D3-DF1F-4754-A97E-A1E2CAB72CB5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>ocr_select</key>
					<string>1</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B46E7AA6-7CBE-4B8B-8ECF-E2314ED44B3D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>baidu_language_type</key>
					<string>JAP</string>
					<key>ocr_select</key>
					<string>1</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>344D59F2-4076-42B7-95C5-778932DB1F57</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>updateocr</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Update OCR Workflow</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>471C9E19-BF37-44DF-B32A-3A52245976A8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/bin/zsh

now_time=`date +%s`

update_ocr(){
  local_version=${alfred_workflow_version}
  remote_version="$(curl --silent --connect-timeout 10 --fail "https://api.github.com/repos/Chandler-Lu/alfred-ocr/releases/latest" | grep "tag_name" | head -n 1 | awk -F ":" '{print $2}' | sed 's/\"//g;s/,//g;s/-lw//g;s/\ //g')"
  download_url="$(curl --silent --connect-timeout 10 --fail "https://api.github.com/repos/Chandler-Lu/alfred-ocr/releases/latest" | grep "browser_download_url" | head -n 1 | awk -F "\":" '{print $2}' | sed 's/\"//g;s/\ //g')"

  if [ "$remote_version" != "$local_version" ]; then
    echo 'Alfred OCR v'$remote_version' 已经发布啦！'
    curl --silent --connect-timeout 10 --max-time 40 --location --output "/tmp/alfred-ocr.alfredworkflow" $download_url
    if [ -f "/private/tmp/alfred-ocr.alfredworkflow" ]; then 
      open "/private/tmp/alfred-ocr.alfredworkflow"
    fi
    else
      echo 'Alfred OCR 还没有新版本哦！'
  fi
}

update_ocr</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BE26A0BE-8762-41AA-9A99-193D7D8B9812</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>oob</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Recognise from Clipboard with Baidu</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>AC0AD26B-C27F-4E05-802D-B2DEA72EEB1E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./pngpaste/pngpaste /private/tmp/ocr_screenshot.png</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4DFCC09B-FBC1-4F23-8808-0FBDE93E2AA6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Alfred OCR New Version</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7F2B13BC-C041-4D37-8215-1B8DE8B6F572</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>ocr_select</key>
					<string>1</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>374CCF7D-7B46-4930-B819-1846BF68071A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ooqb</string>
				<key>subtext</key>
				<string>Baidu API, Supports Multiple QR Code.</string>
				<key>text</key>
				<string>Recognise QR Code with Baidu</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>937CC1C4-0760-46B5-9E0C-D18947EAADC1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>tc</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>翻译中，请稍等哦~(￣▽￣)~</string>
				<key>script</key>
				<string>$PYTHON_PATH ./translate.py $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>彩云小译准备为您翻译咯～</string>
				<key>title</key>
				<string>彩云小译菌</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1B7B52F4-2EB2-4F91-B7D3-2412167F03B4</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ooq</string>
				<key>subtext</key>
				<string>An Offline and Open Source Module.</string>
				<key>text</key>
				<string>Recognise QR Code with ZXing</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>606C9E94-2A7A-4C37-A4A1-C1AEBE8EF5A8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>ocr_select</key>
					<string>2</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>AB33C120-235B-4188-8CD4-B5662FDEE242</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>ocr_select</key>
					<string>6</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7366E3CA-2DDD-4D87-9CC3-D2A9210D5477</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ooe</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Recognise Form with Baidu</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D24C4DCE-C143-4446-B55C-1213A2471105</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>oom</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Recognise from Clipboard with Mathpix</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B2D701D8-B66C-4B5A-8F56-1696DFC9A92D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>ocr_select</key>
					<string>3</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2C46081D-3A97-4D9C-A54F-351305FBBBFB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>ocr_select</key>
					<string>7</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E246104C-AC6C-47DC-A874-615A8F5FC162</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>oot</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Recognise from Clipboard with Tencent</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>996E9637-6EAA-44D9-8195-D4C3FC39F76E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>ocr_select</key>
					<string>4</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4611F9BA-7494-454B-A5DE-163077ACF613</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>oog</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Recognise from Clipboard with Google</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0F90638C-4896-43D7-9BFD-2982F2097A24</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>ocr_select</key>
					<string>5</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3E39E065-922D-4787-B26A-41A5EB824FA4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>if [ ! -d "/private/tmp/com.chandler.alfredocr" ]; then
  mkdir /private/tmp/com.chandler.alfredocr
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8887CE7F-16CD-4C97-99DE-FADE5F0076C4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>oof</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Recognise from Selected File with Baidu</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5B48C447-C230-4E13-BFBD-344F824B517D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
tell application "Finder" to set selectedItems to selection as alias list
-- 没选择的话直接退出脚本
if selectedItems is {} then return
-- 获得所选文件/文件夹的父目录。
set parentPath to do shell script "dirname " &amp; quoted form of POSIX path of (item 1 of selectedItems)
-- 用于拼接多个路径
set pathData to ""

-- 历遍选择的项目
repeat with theItem in selectedItems
	if (not isDirectory(theItem)) then
		set pathData to pathData &amp; "'" &amp; POSIX path of theItem &amp; "'" &amp; " "
	end if
end repeat

do shell script "cp " &amp; pathData &amp; "/private/tmp/com.chandler.alfredocr"

end alfred_script

on isDirectory(someItem)
	set filePosixPath to quoted form of (POSIX path of someItem)
	set fileType to (do shell script "file -b " &amp; filePosixPath)
	if fileType ends with "directory" then return true
	return false
end isDirectory</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>E931D236-7632-40AF-8856-EEBA153F6E16</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>ocr_select</key>
					<string>99</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>37CD29EF-3551-4F34-994E-8F16D3A33B02</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## 能力

- 离线 OCR (CNOCR)
- 通用 OCR (百度 | 腾讯 | Google)
- 二维码识别 (百度 | ZXing)
- 表格文字识别 (百度)
- 数学公式识别 (Mathpix)
- 多文件识别 (百度)
- 文本翻译 (彩云小译)

## 使用（必看！！）

1. 这**不是**一个开箱即用的产品！
2. 您至少要拥有 macOS Alfred 3 及以上版本并激活 Powerpack。
3. 您需要安装 Python 3 及相应的依赖模块，并将 Python 3 路径填写在`PYTHON_PATH`处。
4. 您需要申请并将对应接口的配置填入环境变量，部分接口附带我自己的 Key，但严禁滥用。

---

## Feature

- Offline OCR (CNOCR)
- Online OCR (Baidu | Tencent | Google)
- QR Code Reader (Baidu | ZXing)
- Form OCR (Baidu)
- Multi File OCR (Baidu)
- Translate (ColorfulClouds)

## Installation

- You need install at least Alfred 3 or latest version and activate Powerpack;
- You need install Python 3 and necessary modules, then fill Python 3 Path at `PYTHON_PATH`;
- You need to apply and fill the configuration of the API Key into the environment variable;</string>
	<key>uidata</key>
	<dict>
		<key>0B59C0D3-DF1F-4754-A97E-A1E2CAB72CB5</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Run OCR</string>
			<key>xpos</key>
			<integer>495</integer>
			<key>ypos</key>
			<integer>315</integer>
		</dict>
		<key>0F90638C-4896-43D7-9BFD-2982F2097A24</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>1055</integer>
		</dict>
		<key>1B7B52F4-2EB2-4F91-B7D3-2412167F03B4</key>
		<dict>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>615</integer>
		</dict>
		<key>27B35F0F-6BC8-4872-8B76-8F41F27F4AA2</key>
		<dict>
			<key>note</key>
			<string>Select CNOCR</string>
			<key>xpos</key>
			<integer>205</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>2C46081D-3A97-4D9C-A54F-351305FBBBFB</key>
		<dict>
			<key>note</key>
			<string>Select Baidu Form</string>
			<key>xpos</key>
			<integer>205</integer>
			<key>ypos</key>
			<integer>785</integer>
		</dict>
		<key>344D59F2-4076-42B7-95C5-778932DB1F57</key>
		<dict>
			<key>xpos</key>
			<integer>205</integer>
			<key>ypos</key>
			<integer>425</integer>
		</dict>
		<key>374CCF7D-7B46-4930-B819-1846BF68071A</key>
		<dict>
			<key>note</key>
			<string>Select Baidu</string>
			<key>xpos</key>
			<integer>205</integer>
			<key>ypos</key>
			<integer>495</integer>
		</dict>
		<key>37CD29EF-3551-4F34-994E-8F16D3A33B02</key>
		<dict>
			<key>note</key>
			<string>Select File</string>
			<key>xpos</key>
			<integer>205</integer>
			<key>ypos</key>
			<integer>1235</integer>
		</dict>
		<key>3E39E065-922D-4787-B26A-41A5EB824FA4</key>
		<dict>
			<key>note</key>
			<string>Select Google</string>
			<key>xpos</key>
			<integer>205</integer>
			<key>ypos</key>
			<integer>1085</integer>
		</dict>
		<key>4611F9BA-7494-454B-A5DE-163077ACF613</key>
		<dict>
			<key>note</key>
			<string>Select Tencent</string>
			<key>xpos</key>
			<integer>205</integer>
			<key>ypos</key>
			<integer>935</integer>
		</dict>
		<key>471C9E19-BF37-44DF-B32A-3A52245976A8</key>
		<dict>
			<key>xpos</key>
			<integer>495</integer>
			<key>ypos</key>
			<integer>465</integer>
		</dict>
		<key>47CB8905-BA80-42D9-A0AA-4D32152F0754</key>
		<dict>
			<key>xpos</key>
			<integer>895</integer>
			<key>ypos</key>
			<integer>315</integer>
		</dict>
		<key>4DFCC09B-FBC1-4F23-8808-0FBDE93E2AA6</key>
		<dict>
			<key>note</key>
			<string>pngpaste</string>
			<key>xpos</key>
			<integer>305</integer>
			<key>ypos</key>
			<integer>465</integer>
		</dict>
		<key>5655678A-0732-4F92-99FE-43D4990C750D</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>315</integer>
		</dict>
		<key>5B48C447-C230-4E13-BFBD-344F824B517D</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>1205</integer>
		</dict>
		<key>606C9E94-2A7A-4C37-A4A1-C1AEBE8EF5A8</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>615</integer>
		</dict>
		<key>65F994AE-2882-470C-81EC-1A59B982E6C3</key>
		<dict>
			<key>note</key>
			<string>screencapture</string>
			<key>xpos</key>
			<integer>305</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>7366E3CA-2DDD-4D87-9CC3-D2A9210D5477</key>
		<dict>
			<key>note</key>
			<string>Select ZXing</string>
			<key>xpos</key>
			<integer>205</integer>
			<key>ypos</key>
			<integer>645</integer>
		</dict>
		<key>7F2B13BC-C041-4D37-8215-1B8DE8B6F572</key>
		<dict>
			<key>xpos</key>
			<integer>895</integer>
			<key>ypos</key>
			<integer>465</integer>
		</dict>
		<key>83C54359-7C2C-407C-81B8-CF18E8E46BA2</key>
		<dict>
			<key>note</key>
			<string>CNOCR</string>
			<key>xpos</key>
			<integer>495</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>8887CE7F-16CD-4C97-99DE-FADE5F0076C4</key>
		<dict>
			<key>xpos</key>
			<integer>305</integer>
			<key>ypos</key>
			<integer>1205</integer>
		</dict>
		<key>937CC1C4-0760-46B5-9E0C-D18947EAADC1</key>
		<dict>
			<key>xpos</key>
			<integer>305</integer>
			<key>ypos</key>
			<integer>615</integer>
		</dict>
		<key>996E9637-6EAA-44D9-8195-D4C3FC39F76E</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>905</integer>
		</dict>
		<key>9D945DC9-84D7-4664-B35F-3139E4452494</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>AB33C120-235B-4188-8CD4-B5662FDEE242</key>
		<dict>
			<key>note</key>
			<string>Select Baidu QR</string>
			<key>xpos</key>
			<integer>475</integer>
			<key>ypos</key>
			<integer>645</integer>
		</dict>
		<key>AC0AD26B-C27F-4E05-802D-B2DEA72EEB1E</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>465</integer>
		</dict>
		<key>B2D69546-2C9C-4008-B87B-5083669593BD</key>
		<dict>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>315</integer>
		</dict>
		<key>B2D701D8-B66C-4B5A-8F56-1696DFC9A92D</key>
		<dict>
			<key>xpos</key>
			<integer>305</integer>
			<key>ypos</key>
			<integer>755</integer>
		</dict>
		<key>B46E7AA6-7CBE-4B8B-8ECF-E2314ED44B3D</key>
		<dict>
			<key>note</key>
			<string>Select Baidu</string>
			<key>xpos</key>
			<integer>205</integer>
			<key>ypos</key>
			<integer>345</integer>
		</dict>
		<key>BE26A0BE-8762-41AA-9A99-193D7D8B9812</key>
		<dict>
			<key>note</key>
			<string>Update OCR</string>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>465</integer>
		</dict>
		<key>CB6DFA53-6EBA-4514-B3DF-9D29D00AB83C</key>
		<dict>
			<key>note</key>
			<string>screencapture</string>
			<key>xpos</key>
			<integer>305</integer>
			<key>ypos</key>
			<integer>315</integer>
		</dict>
		<key>D24C4DCE-C143-4446-B55C-1213A2471105</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>755</integer>
		</dict>
		<key>E246104C-AC6C-47DC-A874-615A8F5FC162</key>
		<dict>
			<key>note</key>
			<string>Select Mathpix</string>
			<key>xpos</key>
			<integer>475</integer>
			<key>ypos</key>
			<integer>785</integer>
		</dict>
		<key>E931D236-7632-40AF-8856-EEBA153F6E16</key>
		<dict>
			<key>xpos</key>
			<integer>495</integer>
			<key>ypos</key>
			<integer>1205</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>PYTHON_PATH</key>
		<string>/usr/local/bin/python3</string>
		<key>baidu_api_key</key>
		<string>bhQDTGuERwI7MhgkXjDRcvS5</string>
		<key>baidu_language_type</key>
		<string></string>
		<key>baidu_secret_key</key>
		<string>rqVtem7wRFH0vwWe2iGRycm8sH5U48si</string>
		<key>caiyun_token</key>
		<string>9iryot29tri6vrnep8ix</string>
		<key>google_access_token</key>
		<string></string>
		<key>google_http_proxy</key>
		<string></string>
		<key>google_post_referer</key>
		<string></string>
		<key>mathpix_app_id</key>
		<string></string>
		<key>mathpix_app_key</key>
		<string></string>
		<key>tencent_secret_id</key>
		<string>AKIDPZT6VUKjAev4zeeIza8VJUWKsJsDFCk3</string>
		<key>tencent_secret_key</key>
		<string>HI2hFYjdFyeniOGvGeolFfrmR7YkIQL3</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>google_http_proxy</string>
		<string>mathpix_app_key</string>
		<string>google_post_referer</string>
		<string>PYTHON_PATH</string>
		<string>baidu_language_type</string>
		<string>google_access_token</string>
		<string>mathpix_app_id</string>
	</array>
	<key>version</key>
	<string>4.9</string>
	<key>webaddress</key>
	<string>https://github.com/Chandler-Lu/alfred-ocr</string>
</dict>
</plist>
