<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>191677EF-50B3-4569-8C75-F9AD2C56DE52</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>maven</string>
			<key>text</key>
			<string>maven搜索{query}</string>
			<key>url</key>
			<string>https://mvnrepository.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>2344D4C2-48C1-4C2E-9A84-26FA00847FCD</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>tb</string>
			<key>text</key>
			<string>淘宝搜索：'{query}'</string>
			<key>url</key>
			<string>https://s.taobao.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>23B1B1B9-DF87-479A-BB95-1BB5EF238462</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>baidu</string>
			<key>text</key>
			<string>百度：'{query}'</string>
			<key>url</key>
			<string>https://www.baidu.com/s?wd={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>37B3E316-5E36-4DEE-B0AF-DD0BB533C70E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>zh</string>
			<key>text</key>
			<string>知乎：'query'</string>
			<key>url</key>
			<string>https://www.zhihu.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>A076DD7F-AF32-462E-A956-7AB49A75AEE6</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>stack</string>
			<key>spaces</key>
			<string>+</string>
			<key>text</key>
			<string>search in stackoverflow</string>
			<key>url</key>
			<string>https://stackoverflow.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>A13088C5-435A-452B-B185-1AADB9802DBD</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>docker</string>
			<key>text</key>
			<string>search {query} in docker hub</string>
			<key>url</key>
			<string>https://hub.docker.com/search?q={query}&amp;type=image</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>F77777D9-C11E-4315-BA27-78219AB7E994</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jd</string>
			<key>text</key>
			<string>京东搜索：'{query}'</string>
			<key>url</key>
			<string>https://search.jd.com/Search?keyword={query}&amp;enc=utf-8</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>FAF7E10A-ECF1-4DDC-8974-3FB32D92F7CF</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>mmb</string>
			<key>text</key>
			<string>慢慢买比价</string>
			<key>url</key>
			<string>http://tool.manmanbuy.com/historyLowest.aspx?url={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
